
.footer{
  width: 100%;
  height: 50px;
  background-color: rgb(84, 18, 106) ;
}

footer p{
  padding: 8px;
}

.center{
  text-align: center;
  margin: auto;

}

.logo h1 {
  text-align: center;
  margin: auto;
  font-family: 'Train One', cursive;
  font-size: 500%;
  margin-bottom: 10px;
  position: relative;
}

.logo ul {
  margin: 0;
}

/* 
.text:nth-of-type(2) {
  animation: showLogo 2s forwards;
  opacity: 0;
}

@keyframes showLogo{
  0%{
      opacity: 0;
  }  
  50%{
    opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes transport {
  0% {
    transform: translateY(0px);
  }
  
  100% {
    transform: translateY(-500px);
  }

} */

.main {
  background-color: black;
  color: aliceblue;
  position: relative;
  
}

.main {
  background-image: url("https://github.com/haruto318/webpage/blob/main/back.PNG?raw=true");
  text-align: center;
}

.main-contents {
  margin: 0;
  border: 0;
}

.articles nav ul {
  display: flex;
}

.articles nav ul li {
  margin-left: 30px;
}


.copy_rights {
 color: rgb(218, 222, 231);
 text-align: center;
}

/* .text {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
} */

.border-line {
  border-bottom: solid 0.5px white;
}

.main-text{
  word-wrap: break-word;
  color: rgba(217, 216, 216, 0.698);
  font-size: 17px;
}

img {
  width: 100%;
}

#p {
  margin: 0%;
}
